@import 'bootstrap/dist/css/bootstrap';

// .navbar-brand{
//     font-size: 3rem;
// }

.search-area {
    padding-top: 50px;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
} 

.results-block {
    display: inline-block;
    margin-bottom: 1rem;
}

.logout-button {
    margin-right: 5px;

}

.user-name {
    margin-top: 3.5%;
    padding-right: 5px;
} 